@import url(//fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap); 

$color1: rgb(192, 192, 192);
$color2: rgb(228, 228, 228);
$color3: red;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

main{
    min-height: 83%;
}

html, body, #root{
    height: 100vh;
}

header, footer{
    background-color: $color1;
}

footer{
    padding: 1rem 0 0.1rem 0;
    text-align: center;
}

main, #ItemListContainer{
    background-color: $color2;
}

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 100;
    width: 100%;
}

#cartIcon{
    margin: 0 1rem 0 1rem;
}

#backtotop{
    background-color: black;
}

#navbar{
    img{
        height: 2rem;
    }

    #userMenu{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    #userMenu :hover {
        transition: ease-in-out, 1s;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
}

#storeItem{
    max-width: 17rem;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    display: grid;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

#ItemListContainer{
    padding-top: 3rem;
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    img, h3{
        width: 15rem;
    }

    #loading{
        display: inline-flex;
        padding: 5rem 0 0 27rem;

        h2{
            padding-left: 1rem;
        }
    }
}

.ButtonGroup{
    background-color: white;
    padding: 0.4rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}