@import url(//fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap); 

$color1: rgb(192, 192, 192);
$color2: rgb(228, 228, 228);
$color3: rgb(41, 41, 41);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

main{
    min-height: 83%;
}

html, body, #root{
    height: 100vh;
}

header, footer{
    background-color: $color1;
}

footer{
    padding: 1rem 0 0.1rem 0;
    text-align: center;
}

main, #ItemContainer{
    background-color: $color2;
}

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navIcon{
    margin: 0 1rem 0 1rem;
}

#backtotop{
    background-color: $color3;
}

.borders{
    border-style: solid;
}

.active{
    background-color: #808080;
    color: $color3 !important;
}

.navLink{
    text-decoration: none;
    color: $color3;
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
    border-radius: 0.3rem;
}

#navbar{
    a{
        text-decoration: none;
        color: white;
        padding: 0.5rem 1.3rem 0.5rem 1.3rem;
        border-radius: 0.3rem;
    }

    #navButton:hover, .navIcon:hover{
        background-color: gray;
        opacity: 30%;
        transform: scale(1.05);
        transition: ease-in-out all 0.5s;   
    }

    .settingsNav{
        padding-left: 4rem;
    }

    img{
        height: 4rem;
    }

    #userMenu, #detailsButton{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    #userMenu :hover {
        transition: ease-in-out, 1s;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
}

#detailsButton{
    margin-top: 0.5rem;
    background-color: $color3;
    width: 100%;
}

.styleRemove{
    text-decoration: none !important;
}

#itemDetail{
    display: grid; 
    width: 100%;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

#storeItem, #cart{
    max-width: 17rem;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    display: grid;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

#ItemContainer{
    padding-top: 3rem;
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;

    img, h3{
        width: 15rem;
    }
}

#loading{
    display: inline-flex;
    padding: 3rem;

    h2{
        padding-left: 1rem;
    }
}

.ButtonGroup{
    background-color: white;
    padding: 0.5rem;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    #addToCart{
        flex-grow: 4;
    }
}

